.feed-container{
    min-width: 100vw !important;
    height: 75vh;
    /* margin-top: -50px; */
    overflow-y: auto;
}

.feed-container-inner{
    margin: 0 auto;
    width: 45vw;
    /* height: 70vh; */
}

.write-btn{
    width: 120px;
    height: 44px;
}

.write-btn-con{
    width: 45vw;
    margin: 0 auto;
    /* height: 10vh; */
    margin-top: 50px;
}