.users-container {
  width: 45vw;
  margin: 0 auto;
  border-bottom: 1px solid rgb(237, 229, 229);
  height: 15vh;
}

.users-container-main {
  height: 85vh;
  width: 100vw;
  margin-top: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}


.users-follow-btn{
    height: 44px;
    width: 100px;
}

 